<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{index.main.title}"/>
</head>
<body>
<h1 th:text="#{index.title}"/>
<a th:href="@{/api/v1/books/library.html}" href="#" th:text="#{index.books.link}"/>
<div>
    <h3>Language</h3>
    <div>
        <a href="?lacale=ru" th:text="#{main.language.ru}">RU</a>
        <a href="?lacale=en" th:text="#{main.language.en}">EN</a>
    </div>
</div>
</body>
</html>